/* selecteur general */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  font-size: medium;
  margin-top: 0;
}
body {
  margin-left: 15px;
}
/*  */
.conteneur {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.partie-1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.entete {
  background: black;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
  align-self: start;
}
.entete h1,
.entete h4 {
  color: white;
  text-align: center;
}
img {
  margin-left: 250px;
  border: 1px solid white;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}
.conteneur-form {
  background: black;
  color: white;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
}
.contact {
  align-content: center;
  text-align: center;
}
.contact h2 {
  text-align: center;
}
.conteneur-form {
  text-align: center;
}
.form,
.lang {
  margin-top: 25px;
}
h2 {
  font-weight: 90O;
  font-family: inter;
  font-size: 20px;
}
